.content{
    padding: 20rpx;
    background-image: #ececec;
    font-size: 0.8em;
    line-height: 50rpx;
  }
  
  .ex{
    margin: 20rpx 0;
    border-top: 1px dashed #333;
  }
  .ex-value{
    padding: 20rpx;
    font-size: 0.7em;
    background-color: #efefef;
  }
  .ex .title{
    padding:  0 20rpx;
  }